[fit]
mode=ubi
image=@FIT_IMG@
vol_id=0
vol_size=@FIT_SIZE@KiB
vol_type=dynamic
vol_name=fit

[nvram]
mode=ubi
vol_id=1
vol_size=@NVRAM_SIZE@KiB
vol_type=dynamic
vol_name=nvram

[jffs]
mode=ubi
vol_id=2
vol_size=@JFFS_SIZE@KiB
vol_type=dynamic
vol_name=jffs2
vol_flags=autoresize
